* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: lightblue;
    text-transform: uppercase;
    overflow: hidden;
}

header ul {
    text-align: right;

}

nav {
    overflow: hidden;
    font-weight: bold;
}

nav li {
    display: inline-block;
    line-height: 30px;
    color: white;
    padding: 10px 14px;
}

footer {
    background-color: aquamarine;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}